// Home Content

.home {
  .top-main {
    h2 {
      padding: 2%;
    }//end h2 in top
    p {
      padding:0 15px;
    }//end p in top
    img {
      border-radius: 5px;
    }//end top img
    @media @mobile {
      width: 100%;
    }//end top main mobile
  }//end top main

  .space-images {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    img {
      width: 28%;
      margin: 20px 2.5%;
      border-radius: 20px;
      height: 100%;
    }//end img
    @media @mobile {
      .blast {
        width: 100%;
      }//end show mobile img
      .sky, .launch {
        display: none;
      }//end hide imgs mobile
    }//end img mobile
  }//end space img section

  .visit-planets {
    padding: 15px;
    h3 {
      margin-top: 11px;
    }//end h3
    p {
      margin-top: 13px;
    }//end p
  }//end planets section

  .walk {
    margin-top: 60px;
    border-top: 1px solid @main-border-color;
    padding: 50px 60px;
    display: flex;
    justify-content: center;
    .walk-text {
      width: 50%;
      h3 {
        margin-bottom: 10px;
      }//end h3
      p {
        margin-bottom: 26px;
      }//end p
      button {
        .buttons(@btn-bg-color, @btn-txt-color);
        @media @mobile {
          width: 100%;
        }//end mobile button
      }//end button
      @media @mobile {
        width: 100%;
        border: 1px solid red;
      }//end walk text mobile
    }//end walk text
    .walk-img {
      width: 46%;
      margin-left: 4%;
      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
      }//end img
      @media @mobile {
        width: 100%;
      }//end walk img mobile
    }//end walk img
    @media @mobile {
      display: flex;
      flex-direction: column-reverse;
      width: 100%;
      margin: none;
      border: 1px solid blue;
    }//end walk mobile
  }//end walk section
}// home